<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <!--Bootstrap  CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caladea&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/837b09ace1.js" crossorigin="anonymous"></script>    
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title>Sweeter - Twitter but Sweeter</title>
</head>
<body>
    
    <div class="contain">
        <div class="navbar1">
            <div class="logo">
                <img src="{{url_for('static',filename='logo.png')}}" alt="" srcset="">
            </div>
            <div class="dropdown-container">
                <div class="dropdown-div">
                    <img src="{{url_for('static',filename='profile.png')}}" style="width: 100%; height: 100%;" alt="" srcset="">
                </div>
                <div id="sess-user" class="dropdown-content">
                </div>
            </div>
        </div> 
        <div class="container-main">
            <div class="sidebar">
                <div class="card">
                    Home
                </div>
                <div class="card">
                    Explore
                </div>
                <div class="card">
                    Notifications
                </div>
                <div class="card">
                    Profile
                </div>
            </div>
            <div class="content-container">
                <div  id="scroll" class="scroller">
                    <div class="text-container">
                        <div class="user-container">
                            <div class="user-profile">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="user-name">
                                Name
                            </div>
                        </div>
                        <div class="content">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum earum nesciunt ullam officiis, debitis, delectus ut aut cum at iste nostrum neque necessitatibus culpa quidem reiciendis consequatur aliquam dignissimos numquam totam id?
                            </p>
                        </div>
                    
                    </div>
                </div>
                <form method="post" id="post-form" class="editor-container">
                    <textarea name="text" id= "post-textarea"></textarea>
                    <button class="btn btn-primary" id="submit-btn" type="submit" disabled >Sweet</button>
                    
                
                <!-- <div class="post-container">-->
            </div>
            <div class="link-page">
                <div class="links">
                    <a href="https://mondaymorning.nitrkl.ac.in/article/62c48d797b0cb908870f56b5/Celebrating-Women-s-History-Month-Commemorating-Women">Celebrating Women's History Month: Commemorating Women</a>
                </div>
                <div class="links">
                    <a href="https://mondaymorning.nitrkl.ac.in/article/629dba321acb2c3831ab348a/A-Vista-of-Strength-Women-s-Day-at-NIT-Rourkela">A Vista of Strength: Women's Day at NIT Rourkela</a>
                </div>
                <div class="links">
                    <a href="https://mondaymorning.nitrkl.ac.in/article/629dbead1acb2c3831ab5135/NITR-s-Pioneering-Coup-in-Tata-Steel-WoM">NITR's Pioneering Coup in Tata Steel WoM</a>
                </div>
                <div class="links">
                    <a href="https://mondaymorning.nitrkl.ac.in/article/62c49ffd7b0cb908870fbcb4/NITROAA-s-Boston-Convention-Celebrating-Women-In-Leadership">NITROAA's Boston Convention: Celebrating Women In Leadership</a>
                </div>
            </div>
        </div>
        </div>
</body>
<script src="{{url_for('static',filename='main.js')}}"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>